<div style="background-repeat: repeat, no-repeat; background-size: auto, 100%; position: absolute; width: 100%; height: 100%;"
     ng-style="{ 'background-image': 'url('+uiCustomization.pattern.url+'), url('+(uiCustomization.background.url || 'images/login.png' )+')' }">
</div>
<div class="window">
    <div class="window-status" ng-if="loginProgress">
        <div class="progress-bar"></div>
    </div>
    <header class="window-head">
        <img class="__logo" ng-src="{{uiCustomization.contrast_logo || '/images/contrast-logo.svg'}}" />
        <span class="window-t">{{ 'platform.blades.login.labels.sign-in' | translate: (uiCustomization.title ? uiCustomization : { title: 'Virto Commerce' }) }}</span>
    </header>
    <div class="window-cnt">
        <form class="form" novalidate ng-submit="ok()" name="loginForm">
            <div class="form-group">
                <label class="form-label __required">{{ 'platform.blades.login.labels.login' | translate }}</label>
                <div class="form-input">
                    <input type="text" name="login" placeholder="{{ 'platform.blades.login.labels.log-in-placeholder' | translate }}" ng-model="user.email" required autofocus va-autofill>
                </div>
            </div>
            <div class="form-group">
                <label class="form-label __required">{{ 'platform.blades.login.labels.password' | translate }}</label>
                <div class="form-input">
                    <input name="password" type="password" placeholder="{{ 'platform.blades.login.labels.log-in-placeholder' | translate }}" ng-model="user.password" required va-autofill>
                </div>
            </div>
            <div class="clearfix">
                <div class="column">
                    <div class="form-group">
                        <div class="form-control __checkbox">
                            <label class="form-label">
                                <input type="checkbox" name="c1" checked="" ng-model="user.remember">
                                <span class="check"></span>
                                <span class="name">{{ 'platform.blades.login.labels.remember-me' | translate }}</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="column __right">
                    <div class="form-group">
                        <a ui-sref="forgotpasswordDialog">{{ 'platform.blades.login.labels.forgot-password' | translate }}</a>
                    </div>
                </div>
            </div>
            <!--Global variable sets on _Layout.cshtml and defined in Web.config-->
            <div class="note" ng-if="demoCredentials">
                <p class="text">Demo access credentials - Login: <b>{{ demoCredentials[0] }} </b> Password: <b>{{ demoCredentials[1] }}</b></p>
            </div>
            <div class="form-group">
                <div class="form-error" ng-if="authError">
                    {{authError}}
                </div>
            </div>
            <div class="clearfix">
                <div class="column">
                    <div class="form-group" ng-repeat="provider in externalLoginProviders">
                        <a ng-href="externalsignin?authenticationType={{provider.authenticationType}}">{{ 'platform.blades.login.labels.external-sign-in' | translate: provider }}</a>
                    </div>
                    <div ng-if="!externalLoginProviders.length">&nbsp;</div>
                </div>
                <div class="column __right">
                    <div class="form-group __right">
                        <button class="btn" type="submit" ng-disabled="loginForm.$invalid||loginProgress">
                            <span>{{ 'platform.blades.login.labels.log-in' | translate }}</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
